{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}tmdb{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="preconnect" type="fonts" href="https://fonts.google.apis.com">
	<link rel="preconnect" type="fonts" href="https://fonts.gstatic.com crossorigin">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap">
</head>
<body>
	<div class="desktop-1">
		<div class="tdmdb">
			The Movie Database
		</div>
		<header>
			<a href="{% url 'movies:movie-list' %}">Movies</a>
			<a href="{% url 'movies:actor-list' %}">Actors</a>
			<a href="{% url 'movies:genre-list' %}">Genres</a>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</div>
	
	<footer>
		<p>&copy; tmbd</p>
	</footer>
</body>
</html>

