<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Movie App{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'movies:movie-list' %}">Movies</a></li>
				<li><a href="{% url 'movies:actor-list' %}">Actors</a></li>
				<li><a href="{% url 'movies:genre-list' %}">Genres</a></li>
				{% if user.is_authenticated %}
					<li><a href="#">Welcome, {{ user.username }}</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<footer>
		<p>&copy; Movie App</p>
	</footer>
</body>
</html>